#{extends 'main.html' /}
#{set title:'Month view' /}
#{stylesheet 'jec-styled.css' /}
#{script 'calendar-2.4.js' /}



<H1> Calnedr Month View</h1>

    <script type="text/javascript">
      var myCalendar = new JEC('myCalendarContainer', {
      tableClass: 'styledCalendar',	
      lastMonth: 201510,
      specialDays: [ 1, 7 ]
      });
      
 
    
     myCalendar.defineEvents(
      [
      
        #{list items:events, as:'event'} 
        {
         
          eventDate:20120430 ,
          eventDescription: '${event.name}',
        },
       #{/list} 
        { eventDate: 20120429, eventDescription: 'Kevin\'s BIG Birthday!' }
      ]
    );
       
      
      
      // show the calender 
      myCalendar.showCalendar();
    </script>

<div id='myCalendarContainer'></div>

