#{extends 'main.html' /}
#{set title:'Create Birthday Event' /}

<H1>Create Birthday Event</H1>

#{form @Application.createBirthdayEventForm()}
<div>
	<label> Birthday event name:</label>
	<input type="text" size="30" name="name" value="${flash.name}" />
	<span class="error">* #{error 'name' /}</span>
</div>

<div>
	<label> Event date:</label>
	<input type="text" size="30" name="date" value="${flash.date}" /> 
	<span class="error">* #{error 'date'/}</span>
</div>

<div>
	<label> Who's birthday? </label>
	<br/>
	<select name="createdBy">
		<option value="">&nbsp;</option>
		#{list items:users, as:'user'}
			<option value="${user.id}">${user.firstName}</option>
		#{/list}
	</select>
	<span class="error">* #{error 'createdFor'/}</span>
</div>

<div>
	<label> Event type: </label>
	<br/>
	<select name="eventType">
		<option value=""> &nbsp; </option>
			<option value="Birthday">Birthday</option>
			<option value="Surprise Birthday Party">Surprise Birthday Party</option>
	</select>
	<span class="error">* #{error 'birthdayPerson'/}</span>
</div>

<div>
	<input type="submit" value="Create Birthday Event" />
</div>
#{/form}
