#{set title:'Create Birthday Event' /}

<html>
	<head>
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
<body style="overflow-x:hidden;overflow-y:scroll">
	<div id="username">
    	<a href="@{Application.index()}">Username</a>
    </div>
    <div id="logout">
    	<a href="@{Application.index()}">Logout</a>
    </div>
	<div id="background">
	<div id="page">
	<div class="header">
	<div class="footer">
	<div class="body">
	<div class="body">
	<div id="sidebar"><a href="@{Application.index()}"><img id="logo" src="/public/images/logo.gif" with="154" height="74" alt="" title=""/></a>
		<ul class="navigation">
			<li><a href="@{Application.index()}">HOME</a></li>
			<li><a href="@{Application.calendarMonth()}">CALENDAR</a></li>
			<li class="active"><a href="@{Application.createBirthdayEvent()}">POST</a></li>
		</ul>
	</div>
	<div id="content">
	#{form @Application.createBirthdayEventForm()}
	<p></p>
	<div id="post">
	<table style="margin-top:50px">
		<th></th><th></th><th></th>
		<tr >
			<td><label><font color="#556B2F"> Birthday event name:</font></label></td>
			<td><input type="text" size="30" name="name" value="${flash.name}" /></td>
			<td><span class="error"><font color="#556B2F">* </font>#{error 'name' /}</span></td>
		</tr>
		<tr>
			<td><label><font color="#556B2F"> Event date:</font></label></td>
			<td><input type="text" size="30" name="date" value="${flash.date}" /> </td>
			<td><span class="error"><font color="#556B2F">* </font>#{error 'date'/}</span></td>
			
		</tr>
		<tr>
			<td><label><font color="#556B2F"> Who's birthday? </font></label></td>
			<td><select name="createdFor">
				<option value="">&nbsp;</option>
				#{list items:users, as:'user'}
					<option value="${user.id}">${user.firstName} ${user.lastName}</option>
				#{/list}
			</select></td>
			<td><span class="error"><font color="#556B2F">* </font>#{error 'birthdayPerson'/}</span></td>
		</tr>
		<tr>
			<td><label><font color="#556B2F"> Event type:</font></label></td>
			<td><select name="eventType">
				<option value="">&nbsp;</option>
				<option value="Birthday">Birthday</option>
				<option value="Surprise">Surprise Party</option>
			</select></td>
		</tr>
		<tr>
			<td><input style="margin-left:100px;" type="submit" value="Create Birthday Event" /></td>
		</tr>
		#{/form}
		
	</table>	
	</div>
	</div></div></div></div></div>
	<div class="shadow"> </div></div></div>
</body></html>

