#{set title:'forgetPassword' /}

<p>Forgot password? Don't worry. Provide your username and email, we can send it back to you </p>

#{form @Application.requestPasswordForm()}
<div>
	User Name: <input type="text" size="30" name="username" value="${flash.username}" >*
	<span class="error">#{error 'username' /}</span>
</div>
<div>
	Email: <input type="text" size="30" name="email" value="${flash.email}">*
	<span class="error">#{error 'email' /}</span>
</div>

</br></br>
<input type="submit" value="Submit" name="button" >
<input type="submit" value="Cancel" name="button" >

#{/form}