#{extends 'main.html' /}
#{set title:'Register' /}

#{form @Application.registerForm()}
<div>
	User Name: <input type="text" size="30" name="username" value="${flash.username}" >*
	<span class="error">#{error 'username' /}</span>
</div>
<div>
	First Name: <input type="text" size="30" name="firstname" value="${flash.firstname}">*
	<span class="error">#{error 'firstname' /}</span>
</div>
<div>
	Last Name: <input type="text" size="30" name="lastname" value="${flash.lastname}">*
	<span class="error">#{error 'lastname' /}</span>
</div>
<div>
	Email: <input type="text" size="30" name="email" value="${flash.email}">*
	<span class="error">#{error 'email' /}</span>
</div>
<div>
	Password: <input type="password" size="30" name="password" >*
	<span class="error">#{error 'password' /}</span>
</div>
<div>
	Confirm Password: <input type="password" size="30" name="confirmPassword" >*
	<span class="error">#{error 'confirmPassword' /}</span>
</div>

* Required
</br></br>
<input type="submit" value="Submit" name="button" >
<input type="submit" value="Cancel" name="button" >
#{/form}